@model AtlasAir.Models.Flight

@{
    ViewData["Title"] = "Detalhes do Voo";
}

<h1>Detalhes do Voo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Número do Voo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class="col-sm-2">
            Partida Agendada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduledDeparture)
        </dd>
        <dt class="col-sm-2">
            Partida Real
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActualDeparture)
        </dd>
        <dt class="col-sm-2">
            Chegada Agendada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduledArrival)
        </dd>
        <dt class="col-sm-2">
            Chegada Real
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActualArrival)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Aeroporto de Origem
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginAirport.Id)
        </dd>
        <dt class="col-sm-2">
            Aeroporto de Destino
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationAirport.Id)
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Editar</a>
    <a asp-action="Index" class="btn btn-outline-secondary ms-2">Voltar para a Lista</a>
</div>